/* Body contruction */
body {
  background-color:#FFFFFF;
  font-family: Lato;  
  grid-template-columns: 1fr 1fr 1fr;
  margin:0 auto; 
}

/* Header and body fonts */
.scope-one {
  font-family: 'Scope One', serif;
  font-style: normal;
  font-weight: bold;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: thin;
}

/* Social Media Buttons */
.socials {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 10px; 
  margin-left: 20px ; 
  text-align: left;
  color: #0E79B2;
}

.section-header {
  color: #f4bf08;
}

/* Box Text*/
.job-title {
  /* color: #001d33; */
  font-weight: bold;
  transition: all 0.5s;
  /* text-align: left; */
} 

.hashtag {
  /* color: #005495; */
  font-weight: thin;
  /* text-align: left; */
} 

/* Images Inside Box Size */
.boxes .box-img-large {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.4s;
}

.boxes .box-img-bigmed {
  width: 70%;
  height: auto;
  object-fit: cover;
  transition: all 0.4s;
}

.boxes .box-img-med {
  width: 47.5%;
  height: auto;
  transition: all 0.4s;
}

.boxes .box-img-small {
  width: 23.5%;
  height: auto;
  transition: all 0.4s;
}

.boxes .box i {
  transition: all 0.4s;
  font-size: 4em;
  width: 100%;
}

/* Box Construction */
.boxes {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.boxes .box {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
  text-decoration: none;
  padding-left: 8%;
  padding-right: 8%;
  /* margin: 0 10px; */
}

.boxes .box p {
  transition: all 0.5s;
  margin-top: 10px;
  overflow-wrap: break-word;
}

/* Box Animation */
.boxes .box:before {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 50%;
  margin-left: -50%;
  top: 25%;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 0 1px;
}

.boxes .box:after {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 50%;
  margin-left: -25%;
  top: 0;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 1px 0;
}

.boxes .box:hover p {
  margin-top: 30px;
  color: #ffffff !important;
}

.boxes .box:hover:after {
  width: 100%;
  margin-left: -50%;
  border-color: #000;
}

.boxes .box:hover:before {
  height: 100%;
  top: 0%;
  border-color: #000;
}

/* Button Construction */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 6d */
.btn-6a {
  border: 4px solid #226fbe;
  background-color: #5a5a5a;
}

.btn-6a:hover {
	background: transparent;
	color: #226fbe;
}

.btn-6d {
	border: 2px dashed #226fbe;
}

.btn-6d:hover {
	background: transparent;
	color: #226fbe;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
  color: #fff;
  background-color: #5a5a5a;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #0e83cd;
	background: #fff;
}

/* Button 1b */
.btn-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-1b:hover,
.btn-1b:active {
	color: #0e83cd;
}

.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}

/* Button 1c */
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-1c:hover,
.btn-1c:active {
	color: #0e83cd;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}

/* Button 1d */
.btn-1d {
	overflow: hidden;
}

.btn-1d:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1d:hover,
.btn-1d:active {
	color: #0e83cd;
}

.btn-1d:hover:after {
	width: 90%;
	opacity: 1;
}

.btn-1d:active:after {
	width: 101%;
	opacity: 1;
}

/* Button 1e */
.btn-1e {
	overflow: hidden;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #0e83cd;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}

/* Button 1f */
.btn-1f {
	overflow: hidden;
}

.btn-1f:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
	color: #0e83cd;
}

.btn-1f:hover:after {
	height: 75%;
	opacity: 1;
}

.btn-1f:active:after {
	height: 130%;
	opacity: 1;
}
