/* Body contruction */
body {
  background-color:#FFFFFF;
  font-family: Lato;  
  grid-template-columns: 1fr 1fr 1fr;
  margin:0 auto; 
}

/* Header and body fonts */
.scope-one {
  font-family: 'Scope One', serif;
  font-style: normal;
  font-weight: bold;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: thin;
}

/* Social Media Buttons */
.socials {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 10px !important; 
  margin-left: 20px !important; 
  text-align: left;
}

/* Box Text*/
.job-title {
  /* color: #fff; */
  font-weight: bold;
  transition: all 0.5s;
  /* text-align: left; */
} 

.hashtag {
  /* color: #fff; */
  font-weight: thin;
  /* text-align: left; */
} 

/* Images Inside Box Size */
.boxes .box-img-large {
  width: 100%;
  transition: all 0.4s;
}

.boxes .box-img-med {
  width: 40%;
  transition: all 0.4s;
}

.boxes .box-img-small {
  width: 20%;
  transition: all 0.4s;
}

.boxes {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.boxes .box {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  /* margin: 0 10px; */
}

.boxes .box p {
  transition: all 0.5s;
  margin-top: 70px;
  overflow-wrap: break-word;
}

.boxes .box:before {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 50%;
  margin-left: -50%;
  top: 25%;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 0 1px;
}

.boxes .box:after {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 50%;
  margin-left: -25%;
  top: 0;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 1px 0;
}

.boxes .box:hover {
  color: #4099FF;
}

.boxes .box:hover h3 {
  padding-top: 80px;
  padding-bottom: 30px;
}

.boxes .box:hover p {
  margin-top: 30px;
}

.boxes .box:hover:after {
  width: 100%;
  margin-left: -50%;
  border-color: #5a5a5a;
}

.boxes .box:hover:before {
  height: 100%;
  top: 0%;
  border-color: #5a5a5a;
}